@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-panel {
  width: 60px;
  height: 60px;
  position: absolute;
}
.loading-panel .point {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -2px;
  width: 4px;
  height: 50%;
  transform-origin: 2px 0;
  transform: rotate(0deg);
  background-color: none;
}
.loading-panel .point .inner {
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #cc0033;
  top: 70%;
  left: 0;
  border-radius: 2px;
}
.loading-panel .point:nth-child(10n+1) {
  -webkit-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0s infinite;
  -moz-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0s infinite;
  -o-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0s infinite;
  -ms-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0s infinite;
  animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0s infinite;
}
.loading-panel .point:nth-child(10n+2) {
  -webkit-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.09999999999999999s infinite;
  -moz-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.09999999999999999s infinite;
  -o-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.09999999999999999s infinite;
  -ms-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.09999999999999999s infinite;
  animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.09999999999999999s infinite;
}
.loading-panel .point:nth-child(10n+3) {
  -webkit-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.19999999999999998s infinite;
  -moz-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.19999999999999998s infinite;
  -o-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.19999999999999998s infinite;
  -ms-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.19999999999999998s infinite;
  animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.19999999999999998s infinite;
}
.loading-panel .point:nth-child(10n+4) {
  -webkit-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.3s infinite;
  -moz-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.3s infinite;
  -o-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.3s infinite;
  -ms-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.3s infinite;
  animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.3s infinite;
}
.loading-panel .point:nth-child(10n+5) {
  -webkit-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.39999999999999997s infinite;
  -moz-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.39999999999999997s infinite;
  -o-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.39999999999999997s infinite;
  -ms-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.39999999999999997s infinite;
  animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.39999999999999997s infinite;
}
.loading-panel .point:nth-child(10n+6) {
  -webkit-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.49999999999999994s infinite;
  -moz-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.49999999999999994s infinite;
  -o-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.49999999999999994s infinite;
  -ms-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.49999999999999994s infinite;
  animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.49999999999999994s infinite;
}
.loading-panel .point:nth-child(10n+7) {
  -webkit-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.6s infinite;
  -moz-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.6s infinite;
  -o-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.6s infinite;
  -ms-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.6s infinite;
  animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.6s infinite;
}
.loading-panel .point:nth-child(10n+8) {
  -webkit-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.7s infinite;
  -moz-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.7s infinite;
  -o-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.7s infinite;
  -ms-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.7s infinite;
  animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.7s infinite;
}
.loading-panel .point:nth-child(10n+9) {
  -webkit-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.7999999999999999s infinite;
  -moz-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.7999999999999999s infinite;
  -o-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.7999999999999999s infinite;
  -ms-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.7999999999999999s infinite;
  animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.7999999999999999s infinite;
}
.loading-panel .point:nth-child(10n) {
  -webkit-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.8999999999999999s infinite;
  -moz-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.8999999999999999s infinite;
  -o-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.8999999999999999s infinite;
  -ms-animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.8999999999999999s infinite;
  animation: rotate 1.4s cubic-bezier(0.1, 0.6, 0.9, 0.4) 0.8999999999999999s infinite;
}
